p{
    color: #939393;
}
h5{
    color: #41a9d4
}
.p-left{
    max-width: 30rem;
    text-align: left;
    font-size: 18px;
}
.p-right{
    max-width: 30rem;
    text-align: right;
    font-size: 18px;
}